*{
    border: 1px solid red;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.header{
    display: flex;
    justify-content: flex-start;
    background-color: #1F2937;
    align-items: center;
}
.logoimg{
    width: 50px;
    height: 50px;
    margin-left: 200px;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.headerlinks{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 200px;
    gap: 15px;
}
.hero{
    background-color: #1F2937;
    display: flex;
}
.herotext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 100px;
}
.mainimg{
    height: 400px;
    width: 800px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.action{
    font-size: 48px;
    font-weight: 900;
    padding-top: 0px;
    color: #F9FAF8;
    margin-top: 0px;
    margin-bottom: 10px;
}
.subtext{
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 100px;
    margin-top: 50px;
}
.signup{
    background-color: #3882F6;
    width: 150px;
    height: 30px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    color: #F9FAF8;
    margin-top: 50px;

}
.testimonial{
    background-color: #E5E7EB;
}
.callsignup{
    background-color: #3882F6;
}
.footer{
    background-color: #1F2937;
}
